AZURE_CLIENT_ID=<CLIENT_ID>
AZURE_CLIENT_SECRET=<CLIENT_SECRET>
AZURE_TENANT_ID=1964f35a-ac67-4b59-9975-b7e88e801e30
AZURE_CONTAINER_NAME=anonifyme-uservideos
AZURE_UPLOAD_DIR=uploads
AZURE_DOWNLOAD_DIR=processed
AZURE_WHITELIST_FOLDER=whitelist
AZURE_BLOB_URL=https://anonifyme.blob.core.windows.net
DB_NAME=postgres
DB_USER=<USER>
DB_PASSWORD=<PASSWORD>
DB_HOST=<HOST>
DB_PORT=<PORT>
CLEARML_WEB_HOST=https://app.clear.ml/
CLEARML_API_HOST=https://api.clear.ml
CLEARML_FILES_HOST=https://files.clear.ml
CLEARML_API_ACCESS_KEY=<WORKSPACE_ACCESS_KEY>
CLEARML_API_SECRET_KEY=<WORKSPACE_SECRET_KEY>