AZURE_CLIENT_ID=<CLIENT_ID>
AZURE_CLIENT_SECRET=<CLIENT_SECRET>
AZURE_TENANT_ID=1964f35a-ac67-4b59-9975-b7e88e801e30
AZURE_UPLOAD_CONTAINER_NAME=uploads
AZURE_DOWNLOAD_CONTAINER_NAME=processed
AZURE_BLOB_URL=https://anonifyme.blob.core.windows.net/anonifyme-uservideos